@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0077B6; /* Ocean blue for the thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005680; /* Darker blue on hover */
}
